@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Work Sans", sans-serif;
}

/* Set up colors */
/* @theme {
  --color-primary: #ffffff;
  --color-primary-dark: #000000;
} */

/* --- Custom Input type date Styling--- */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* Default (light mode), pastikan filter tidak aktif */
  filter: invert(0);
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* --- Custom Scrollbar Styling --- */
/* Untuk Chrome, Safari, Edge */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #429ebd;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #053f5c;
}

/* Untuk Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #429ebd transparent;
}

/* Tambahan animasi untuk Modal */
@keyframes bounce-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-bounce-in {
  animation: bounce-in 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
